.nav-icon i{
    font-size: 20px !important;
}

.color1{
    background-color: #2A769A;
}

.color1-text{
    color: #2A769A;
}

.color2{
    background-color: #41C3BE;
}

.color2-text{
    color: #41C3BE;
}

.color3{
    background-color: #F78536;
}

.color3-text{
    color: #F78536;
}