{% extends "app_base.html" %}
{% load static from staticfiles %}
{% load cleaner %}

{% block head %}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
    <link href="{% static "css/goal.css" %}" rel="stylesheet">
    <link href="{% static "css/tasks.css" %}" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% include "nav_goal.html" with active="codes" %}
{% endblock %}

{% block main-content %}
    <div class="row text-center goals-header">
        <h1 class="subject">
            {{ goal.name }}
        </h1>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <a href="{% url 'main:code-create' goal_pk=view.kwargs.goal_pk %}" class="btn bg-primary goal-child-btn">Add code example</a>
            {% for code in object_list %}
                <a href="{% url 'main:code' goal_pk=view.kwargs.goal_pk code_pk=code.pk %}">
                    <div class="goal-child">
                        <div class="goal-child-title">{{ code.title }}</div>
                        <div class="goal-child-date">{{ code.created }}</div>
                        <div class="description">
                            {{ code.description|clearhtml|disablelinks|safe }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
