.goal-child{
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
    background: rgba(191, 207, 255, 0.1);
    transition: background-color 0.25s ease-out;
    /*color: #666666;*/
    /*text-decoration: none !important;*/
}

.goal-child:hover{
    background-color: rgba(191, 207, 255, 0.3);
    border-radius: 20px;
}

.goal-child-title{
    font-size: 16px;
    font-weight: 600;
}

.goal-child-date{
    border-bottom: 1px solid #dddddd;
}

.goal-child-description{
    margin-top: 10px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
}

.goal-child-description a{
    color: #2196f3;
}

.goal-child-description a:hover{
    color: #2168f3;
    text-decoration: underline;
}

.goal-child-btn{
    margin-left: 10px;
}

.description a{
    color: #2196f3;
}

.description a:hover{
    color: #2168f3;
    text-decoration: underline;
}

.code{
    border: 1px solid #ddd;
    border-radius: 3px;
}

.goal-child.is_done{
    background-color: rgba(197,255,191,0.15)
}

.goal-child.is_not_done{
    background-color: rgba(255, 144, 20, 0.1);
}

