@import "~react-toolbox/lib/commons";

html {
  font-size: 62.5%;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  background-color: $color-background;
  color: $color-text;
}

p {
  line-height: 2.6rem;
}
