.side-nav .logo .brand-logo{
    font-weight: 300;
    font-size: 25px !important;
    line-height: 122px;
    background-color: transparent !important;
}

.side-nav .logo{
    height: 122px;
    border-bottom: 1px solid #e0e0e0;
}