.horizontal-progress{
    width: 100%;
    height: 8px;
    top: -8px;
    position: relative;
}

.goals-description{
    font-size: 16px;
    margin-bottom: 40px;
}

.icon{
    font-size: 20px;
    vertical-align: middle;
}