{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block head %}
    <link href="{% static "css/create.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="vertical-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <form class="form-horizontal" action="{% url 'users:login' %}" method="post">
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
