{% extends "app_base.html" %}
{% load static from staticfiles %}
{% load cleaner %}

{% block head %}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
    <link href="{% static "css/goal.css" %}" rel="stylesheet">
    <link href="{% static "css/tasks.css" %}" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% include "nav_goal.html" with active="tasks" %}
{% endblock %}

{% block main-content %}
    <div class="row text-center goals-header">
        <h1 class="subject">
            {{ goal.name }}
        </h1>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <a href="{% url 'main:task-create' goal_pk=view.kwargs.goal_pk %}" class="btn bg-primary goal-child-btn">Add task</a>
            {% for task in object_list %}
                <a href="{% url 'main:task' goal_pk=view.kwargs.goal_pk task_pk=task.pk %}">
                    <div class="goal-child {% if task.is_done %}is_done{% else %}is_not_done{% endif %}">
                        <div class="goal-child-title">{{ task.name }}</div>
                        <div class="goal-child-date">{{ task.created }}</div>
                        <div class="description">
                            {{ task.description|clearhtml|disablelinks|safe }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
