{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block head %}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
    <link href="{% static "css/goal.css" %}" rel="stylesheet">
{% endblock %}

{% block navbar-container %}container-fluid{% endblock %}

{% block scripts %}
{#    <script src="{% static "js/goals.js" %}"></script>#}
{#    <script src="{% static "js/goal.js" %}"></script>#}
{#    <script src="{% static "lib/progressbar.js/dist/progressbar.min.js" %}"></script>#}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row content">
           {% include "nav_goal.html" with active="goal" %}
        
            <div class="col-md-10 no-padding">
                <div class="col-md-10">
                    <h2 class="text-center">Confirm delete</h2>
                    <form class="form-horizontal text-center" method="post">
                        {% csrf_token %}
                        <p class="col-md-12">Are you sure you want to delete your goal "{{ object.name }}"?</p>
                        <div class="controls col-md-12">
                            <input type="submit" name="submit" value="Delete" class="btn btn-danger">
                            <a href="{% url "main:goal" goal_pk=view.kwargs.goal_pk %}">
                                <input type="button" value="Back" class="btn btn-default">
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}