{% extends "app_base.html" %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block head %}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% include "nav_goal.html" with active="goal" %}
{% endblock %}

{% block main-content %}
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Change your goal</h2>
        <form class="form-horizontal" method="post">
            {% crispy form %}
            <div class="form-group">
                <div class="aab controls col-lg-2"></div>
                <div class="controls col-lg-8">
                <input type="submit" name="submit" value="Update" class="btn btn-primary"></div>
            </div>
        </form>
    </div>
{% endblock %}