{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock %}

{% block navbar-container %}container-fluid{% endblock %}

{% block scripts %}
    <script src="{% static "js/goals.js" %}"></script>
    <script src="{% static "js/home.js" %}"></script>
    <script src="{% static "lib/progressbar.js/dist/progressbar.min.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row content">
            <div class="col-md-2 left-sidebar">
                <nav class="list-group list-smaller">
                    <a class="list-group-item active">
                        Goals
                    </a>
                    <a class="list-group-item">
                        Statistics
                    </a>
                    <a class="list-group-item">
                        News
                    </a>
                    <a class="list-group-item">
                        Subscriptions
                    </a>
                </nav>
                <div class="panel panel-info tips">
                  <div class="panel-heading">
                    <h3 class="panel-title">Useful tips</h3>
                  </div>
                  <div class="panel-body">
                    Don't forget to update your goals. We will notify you if you are missing something.
                  </div>
                </div>
            </div>
            <div class="col-md-10 no-padding">
                <div class="row text-center goals-header">
                    <h1>Current goals</h1>
                </div>
                <div class="goals row text-center">
                    <div class="goal-progress-bar col-md-3">
                        <div class="progress-bar-container">0.7</div>
                        <div class="subject">Python</div>
                    </div>
                    <div class="goal-progress-bar col-md-3">
                        <div class="progress-bar-container">0.6</div>
                        <div class="subject">Java</div>
                    </div>
                    <div class="goal-progress-bar col-md-3">
                        <div class="progress-bar-container">1</div>
                        <div class="subject">C#</div>
                    </div>
                    <div class="goal-progress-bar col-md-3">
                        <div class="progress-bar-container">0.2</div>
                        <div class="subject">CoffeeScript</div>
                    </div>
                    <div class="goal-progress-bar col-md-3">
                        <div class="progress-bar-container">0.1</div>
                        <div class="subject">Django</div>
                    </div>
                    <div class="goal-progress-bar col-md-3">
                        <div class="progress-bar-container">0.65</div>
                        <div class="subject">JavaScript</div>
                    </div>
                    <div class="goal-progress-bar col-md-3">
                        <div class="progress-bar-container">0.5</div>
                        <div class="subject">CSS</div>
                    </div>
                    <div class="goal-progress-bar col-md-3">
                        <div class="progress-bar-container">0.44</div>
                        <div class="subject">jQuery</div>
                    </div>
                </div>
                <div class="row text-center goals-add">
                    <a href="{% url 'main:goal' %}" class="btn bg-primary">Add new goal</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}