{% extends "app_base.html" %}
{% load static from staticfiles %}

{% block head %}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% include "nav_home.html" with active="goals" %}
{% endblock %}

{% block main-content %}
    <div class="row text-center goals-header">
        <h1>Current goals</h1>
    </div>
    <div class="goals row text-center">
        {% for goal in object_list %}
        <a class="goal-progress-bar col-md-3" href="{% url 'main:goal' goal_pk=goal.pk %}">
            <div class="progress-bar-container">0.6</div>
            <div class="subject">{{ goal.name }}</div>
        </a>
        {% endfor %}
    </div>
    <div class="row text-center goals-add">
        <a href="{% url 'main:goal-create' %}" class="btn bg-primary">Add new goal</a>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        require(['js/home']);
    </script>
{% endblock %}